  {% load url from future %}
  <footer role="contentinfo">
      <p>
        <span class="left">Biohelikon &copy; - 2015 | All content in Biohelikon is published using a Creative Commons Attribution License (<a href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>) unless otherwise specified. <a href="#">Goto Top</a></span>
        <a href="{% url 'journal:journalhome' %}">HOME</a> | <a href="{% url 'journal:journallist' %}">SUBJECTS</a> | <a href="{% url 'journal:contact' %}">CONTACT</a> 
      </p>
      <p>Biohelikon ISSN:2395-6062</p>
  </footer>