<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>

{% load url from future %}
<b>Send Invitation to Editorial Board Member</b>
<form id="emaillist" action="{{ request.path }}" method="post">
{% csrf_token %}
<select name="journalid">
<option>Select Journal </option>
{% for journal in journaltemp %}
<option value={{ journal.journal.id }}>{{ journal.journal.name }} </option>

{% endfor %}
</select>
<div id="load">
</div>
<input type="submit" value="submit"/>
</form>


<script>
$('select').change(function(){

	  var text = $(this).val();
	  url = "{% url 'mailing:ebemaillisting' 0 %}". replace('0',text);
	  $.ajax({
		  
		  url:url,
		  
		  
	  }).done(function( html ) {
		  $("#load").html(html);
	  });

	});
</script>
<script>$(document).on('click',':checkbox[name=all]',function () {
  $(':checkbox[name=Email]').prop('checked', this.checked);
});</script>