{% load url from future %}			
			<li>
              <a href="{% url 'journal:cancerhome' %}"><i class="fa fa-home fa-lg"> </i>&nbsp;&nbsp;Home</a>
            </li>
           
            <li>
              <a href="{% url 'journal:cancerarticles' %}"><i class="fa fa-file fa-lg"> </i>&nbsp;&nbsp;Articles</a>
            </li>
            <li>
              <a href="{% url 'journal:cancerinstructions' %}"><i class="fa fa-check-circle fa-lg"> </i>&nbsp;&nbsp;Instructions for Authors</a>
            </li>
            <li>
              <a href="{% url 'journal:cancereblist' %}"><i class="fa fa-user fa-lg"> </i>&nbsp;&nbsp;Editorial Board</a>
            </li>
            <li>
              <a href="{% url 'journal:cancerabout' %}"><i class="fa fa-check-circle fa-lg"> </i>&nbsp;&nbsp;About Journal</a>
            </li>
            
            
           