{% load url from future %}			
			<li>
              <a href="{% url 'journal:cellhome' %}"><i class="fa fa-home fa-lg"> </i>&nbsp;&nbsp;Home</a>
            </li>
           
            <li>
              <a href="{% url 'journal:cellarticles' %}"><i class="fa fa-file fa-lg"> </i>&nbsp;&nbsp;Articles</a>
            </li>
            <li>
              <a href="{% url 'journal:cellinstructions' %}"><i class="fa fa-check-circle fa-lg"> </i>&nbsp;&nbsp;Instructions for Authors</a>
            </li>
            <li>
              <a href="{% url 'journal:celleblist' %}"><i class="fa fa-user fa-lg"> </i>&nbsp;&nbsp;Editorial Board</a>
            </li>