`{% extends "tracking/htmlarcana.html" %} 
{% load url from future %}  
{% block header %} 
  <header class="clearfix">
      <div class="container">
        <a id="logo" href="{% url 'journal:journalhome' %}">Biohelikon</a>
        <ul class="social-icons">
        {% include "journal/journalsocialicons.html" %}
        </ul>
        <nav class="clearfix">
          <ul role="navigation">
            {% include "journal/bclbhomecommonlinks.html" %}
            
            
          </ul>
        </nav>
      </div>
  </header>
{% endblock %}
{% block banner %}
<hgroup>
	<h1>Biohelikon: Cell Biology</h1>

</hgroup>
<article role="main" class="clearfix">
	<div class="post journalhome">
	  <h3>Aims &amp; Scope</h3><p>Cell biology is a scientific discipline that deals with study of cell. It is an integrative science that brings together biochemistry, molecular biology, developmental biology and physiology. Cells are made up of enormous complexity, with millions of interactions taking place.  Techniques like cloning, stem cells provide exciting possibilities in the field of treating disease and injury.</p>
    <h3>Salient Features</h3><p>Your article will be usually processed with in 45 days of submission with assignment of reviewer after two days of submission.</p>
    <h3>Why Open Access?</h3><p>Open access gives a worldwide audience larger than that of any subscription-based journal and thus increases the visibility and impact of published works. It also enhances indexing, retrieval power and eliminates the need for permissions to reproduce and distribute content.</p>
	<br/>
<br/>
	<p>We aim to bring important work to a wide range of audience and therefore publish articles that advance our understanding of cellular biology.</p>


<p>The journal scope included but not limited to following areas-</p>
<ul><li>
Cell Physiology
</li><li>Cytometry
</li><li>Systems Biology
</li><li>Cellular Structures
</li><li>Microscopy
</li><li>Cellular Types
</li><li>Stem cell biology
</li><li>Apoptosis and cell death

</li><li>Autophagy
</li><li>Cytoskeletal dynamics
</li><li>Nuclear Transport
</li><li>Cell organelles
</li><li>Signal transduction
</li><li>G-Protein-Coupled Receptors
</li><li>Computational Cell Biology
</li><li>Cell adhesion and motility
</li><li>Cell cycle and cell division
</li><li>Cellular disease mechanisms
</li><li>Nuclear organization and function
</li><li>Methods and Techniques
</li><li>Chemical Components of Cells
</li><li>DNA replication, repair and recombination
</li><li>Gene Expression and Control
</li><li>Genome Evolution</li>
</ul>
	</div>
    <aside role="sidelinks">
    <img src="{{ STATIC_URL }}assets/images/cell.jpg">
    </aside>
</article>

{% endblock %}