<h2>Aims &amp; Scope</h2>
	<p>
		Biohelikon: Genes &amp; Genomes publishes many kinds of forms of
		high quality papers in any area of genetics and genomics via a
		peer-reviewed process. Especially welcome interdisciplinary research,
		novel methods or technologies and databases.		Manuscripts usually be processed within 45 days with assignment
		of reviewers after two days of submission. Assurance
		shall be made by the authors that the manuscript has not been
		previously published in any other form and is not under consideration
		for publication elsewhere.
	</p>

	<h2>Fast Track</h2>
	<p>
		The Editors of Biohelikon:
		Genes &amp; Genomes		recognize that many manuscripts rejected by top-tier journals are
		still outstanding. We are willing to re-evaluate manuscripts rejected
		by journals such as Cell Press journals, Nature journals, Science,
		NEJM, Lancet journals, Oxford journals, and other high impact
		journals. We, therefore encourage authors to give a copy of earlier reviewers and
		editor's comments. These reviews and rebuttals will be within 6 months
		of the last submission date. These prior points will hasten
		re-evaluation for your manuscript, thus facilitating more rapid
		publication. Please upload your earlier reviews and your responses
		when making your submission. When accepted, we promise to publish
		these kinds of papers within 45 days after submission.
	</p>
	<h2>Open Access</h2>
	<p>
		All papers published by Biohelikon:
		Genes &amp; Genomes		is freely and permanently accessible online immediately upon
		publication, without subscription charges or registration barriers.
		This effectively removes the barriers for timely distribution of the
		papers and provides a very strong exposure for them, greatly improving
		the indexing rate.
	</p>

	<h2>Publication Fee</h2>
	<p>Biohelikon is a nonprofit organization that promises to give access
		of high quality articles free of cost. Presently there is no
		publication fees for our journal.</p>
	<h2>Indexing databases</h2>
	<p>Presently we are only indexed in Google Scholar. Google Scholar is
		web search engine that indexes the full text of scholarly literature.
		As it is a completely new journal, it may take some time to be indexed
		in other services like Pubmed, Scirus, Elsevier.</p>
		<h2>Continuous Publication</h2>
	<p>All the articles will be published on line as they become ready to
		publish, without linking them to a specific issue. For each article
		there will be only one, permanent, citation. The citation will be
		year, volume, e-locator (a unique identifier for that article)</p>
	<h2>Publication Format</h2>
	<p>Please provide following documents (in Microsoft Word format) for
		copy-editing purposes. Figures should be of high quality and
		resolution, and could be embedded in the manuscript Word file. If the
		figures or tables are created using PowerPoint, Photoshop, Microsoft
		Excel etc, please also provide the original files from those programs.
		The paper structure generally includes article type, title, footnotes,
		graphical abstract, highlights, keywords, abbreviations, abstract,
		introduction, material and methods, results, discussions, conclusion,
		acknowledgements, references and mind map. If you want peer review to
		be blind, please don't mention author details in the source file while
		uploading through tracking system. The reference number in the body
		should be within [&nbsp;&nbsp;] brackets and  should be in
		increasing order. Graphical abstract and highlights are as instructed
		below: Graphical abstract summarizes the contents of the papers in a
		concise and pictorial form for capturing a reader’s attention at a
		quick glance. This makes it very interesting and quite easy to
		understand for readers. Authors should make the image very clear,
		perfectly representing the work described in the paper. Graphical
		abstracts should be submitted as a separate file in the online
		submission system. Highlights consist of a short collection of bullet
		points that convey the core points of the paper. This will make it
		very easy for the readers to grasp the key points of the paper. It
		should be submitted in a separate file in the online submission
		system. It regularly includes 3 to 5 bullet points with a maximum of
		90 characters each bullet.</p>
	<h3>Publication Criteria:</h3>
	<h2>Article:</h2>
	<p>Article is a full research paper. Authors are encouraged to be
		concise, not exceeding 8000 words, including figure legends but not
		references. The number of display items (Figures and Tables) should
		not exceed eight. The main paper includes keywords and an abstract
		followed by Introduction, Materials and Methods, Results, Discussion,
		Acknowledgements, Conflict of Interests, and References. Supplementary
		materials can be published if necessary.</p>
	<h2>Report:</h2>
	<p>A report is a hit-the-mark study, a concise investigation, or an
		innovative finding that may be less substantial than a full research
		article. Reports are limited to 3000 words, including figure legends
		but not abstract and references. Page number of display items (Figures
		and Tables) should not exceed four. The number of references is
		limited to30. Supplementary materials can be published if necessary.</p>
	<h2>Brevia:</h2>
	<p>Brevia will publish the description of especial novel experimental
		results that may not be suitable for a regular article or report.
		Words should not exceed 1000, including author’s names and
		affiliations. It can have 1 figure (or table) and a maximum of 10
		references. Generally, no supplementary material is required, if
		necessary up to 500 words of text or one figure or table are
		allowable.</p>
	<h2>Hypothesis:</h2>
	<p>Hypotheses bridge cutting-edge theory and scientific observations,
		considering theoretical ideas which have observational support or
		where experimental support is yet fragmentary. Radical novel
		speculations related to fundamentally scientific questions are
		particularly welcomed. Papers in this section take a standard
	
	
	<h2>Review:</h2>
	<p>Reviews including mini-reviews must be influential and attractive to
		the scientific readers, generally coming from the invited scientist of
		leading-edge research. A minimum of two figures or tables should be
		provided for reviews, one in mimi-review. Mini-review should not
		exceed 5000 words (excluding references), and a maximum of 100
		references. The main sections include introduction, the main contents,
		conclusion, and perspectives. Interdisciplinary views or perspectives
		of emerging fields are particularly-welcomed.</p>
	<h2>Editorial:</h2>
	<p>Editorials guide readers to trace cutting-edge research, and are
		provided by the members of our editorial board. They focus on very
		interesting research articles or excellent reviews/perspectives
		recently published in famous scientific journal such as Cell, Nature,
		Science and so on. It simply introduces overviews of the findings of
		the paper, explaining its significant implications, and guiding the
		future directions for readers. Generally, a maximum of 2
		figures/tables, 20 references, and 2000 words is allowable. It is best
		not to exceed two printed page.</p>
	<h2>Commentary:</h2>
	<p>Commentaries provide the platform for discussing interdisciplinary
		topics, controversial questions, scientific viewpoints and any other
		issues of interest to our own readers. A maximum of 1 figure/table, 10
		references, and 1000 words including all sections, and only one
		printed page is allowed.</p>
	<h2>Mind Map:</h2>
	<p>In order to make your article visually appealing to read we have
		introduced a section called Mind Map. A mind map is a diagram used to
		visually outline information. Mind Map is like a quicker note, that
		will allow the readers to grasp your article details in a single
		glance. It reduces the content to read and has great impact on memory
		recall as compared to linear text. According to research conducted at
		Cunningham (2005) 80% of students thought “mindmapping helped them
		understand concepts and ideas in science”. Many teachers around the
		world make use of mind maps for presentation.</p>
		<p><b>How to create Mind Map?</b><p>

		<p>To create Mind Map you can use freeplane software. It's free and open
		source. You can download freeplane from following link:<br/>
		http://sourceforge.net/projects/freeplane/ <br/><br/>More more details about
		creating mind map in freeplane, you can visit youtube.<br/>
		http://youtu.be/DOxYObPlxNE <br/><br/> After drawing the mind map in freeplane you can upload
		the .mm files in the tracking system. If you face any problem, please
		email us.</p>
	<p>All the above mentioned forms of papers are published formally
		through a peer-reviewed process..</p>
	<h2>Ethics Committee Approval and Patient Consent</h2>
	<p>Experimental research involving animals or human should have been
		approved by the author's institutions ethics committee or
		institutional review board. This information can be presented in the
		manuscript including the name of the committee/board that gave the
		approval. The use of animals in experiments will have observed the
		Interdisciplinary Principles and Guidelines for the Use of Animals in
		Research, Testing, and Education by the New York Academy of Sciences,
		Ad Hoc Animal Research Committee. Investigations involving humans will
		have been performed following the principles of the Declaration of
		Helsinki. If the manuscript contains photos or parts of photos of
		patients, informed consent from each patient should be given.
		Patient's identities and privacy should be carefully protected in the
		manuscript.</p>
	<h2>Competing Interests</h2>
	<p>Competing interests that might interfere with the objective
		presentation of the research findings contained in the manuscript
		should be declared in a section heading "Competing interests" (after
		the Acknowledgement section and before References). Competing interests
		include ownership of stocks from a company, grants, board membership,
		etc. If there are no competing interests, please use the statement
		"The author(s) have declared no competing interests".</p>
	<h2>Author Biography</h2>
	<p>Authors have the option to publish a biography together with the
		paper. Related information includes MD/PhD degree, past and present
		positions, research interests, awards, etc. This can increase the
		visibility of the authors, thus promoting the communication among the
		scientific community. The author biography can be added to the end of
		the paper, in a section heading "Author biography".</p>
	<h2>Copyright:</h2>
	<p>
		Biohelikon: Genes &amp; Genomes follows the Creative Commons license which ensures the widest possible
		dissemination of information. Anyone can reproduce parts of the paper or
		the whole paper published by Biohelikon:
		Genes &amp; Genomes		. Distributions, compilations and translations are now available
		freely. However, commercial use is not allowed. If needed, please
		contact the office of Biohelikon:
		Genes &amp; Genomes		. If excerpts from other copyrighted works are included, the author(s)
		must get written permission from the copyright owners and credit the
		source(s) in the article.
	</p>
	<br /> <br />
	<p>
		________________________________________<br /> For specially needed
		information about preparing manuscripts and other issues, please
		consult the office of the journal, available from <a
			href="{% url 'journal:submissioninstructions' %}">{% url 'journal:submissioninstructions' %}</a> or contact <a href="mailto:genes@biohelikon.org">genes@biohelikon.org</a>.
	</p>