{% extends "journal/home.html" %}

{% load url from future %}

{% block banner %}
<hgroup>
           <h1>FAQs</h1>
           <h2>Frequently Asked Questions Regarding Biohelikon</h2>
       </hgroup>
<article role="main" class="clearfix">
<h2>Article Processing Charges</h2>

<p>Biohelikon uses business model in which authors or research sponsors need to pay article processing charges which includes – peer review, journal production (PDF, HTML formats), online hosting, copy editing and more.</p>

<p>We offer three simple plans for article processing charges.<br>
An article with 1 authors costs $70.<br>
An article with 2 authors costs $140.<br>
An article with 3 or more authors costs $210.<br>
* Processing charges are in USD.<br>
</p>
<p>You can also use your biohelikon e-wallet balance to pay article processing charges. In order to pay through e-wallet, you need to have a threshold balance of $70 in it. </p>


<h2>Frequently asked questions (FAQs)</h2>

<p><i><b>When to make the payment?</b></i></p>

<p>You can make the payment after the article is accepted and you have received the corrected galley proof.</p>

<p><i><b>Can there be article processing fee waiver?</b></i></p>

<p>We may provide fee waiver, on request to authors from countries that are classified by the World Bank as Low-income economies.</p>

<p><i><b>What about indexing of the journal?</b></i></p>

<p>At present our articles are indexed in Google Scholar. But we are also working hard to be indexed in Pubmed. As the number of quality articles grows, we hope that the journal will meet all the requisites to be indexed in pubmed.</p>

<p><i><b>How many peer-reviews is expected for an article?</b></i></p>

<p>You can expect a minimum of 3 reviews per article. Your article will be accepted/ rejected based upon the positive/ negative reviews submitted by the reviewer.</p>

<p><i><b>What is the concept of biohelikon e-wallet and score?</b></i></p>

<p>We provide scores to our registered users upon their activities in the journal. Activities includes reviewing of manuscripts, submission of manuscripts, upvote/ downvote of article or reviews etc.<br>
e-wallet balance is computed based upon the scores. For every score points received you get one-fourth of it as e-wallet balance. The e-wallet balance can only be used for payment of article processing charges.</p>


<p>For any further queries, please drop a email  to: <a href="mailto:contact@biohelikon.org">contact@biohelikon.org</a></p>











</article>
       
{% endblock %}