{% extends extendname %} 
{% load url from future %}

{% block banner %}
<hgroup>
	<h1>Articles</h1>

</hgroup>
<article role="main" class="clearfix">
	<div>
	{% for manu in manuscripts %}
	<div class="articlelist"><p><b>Title: </b><a href="{% url 'journal:fullarticle' aid=manu.id  %}">{{ manu.title }}</a></p>
	<p><b>Abstract: </b>{{ manu.abstract | safe }}</p>
	</div>
	{% endfor %}
	<br/>
	<br/>
	<div class="pagination">
    <span class="step-links">
        {% if manuscripts.has_previous %}
            <a href="?page={{ manuscripts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ manuscripts.number }} of {{ manuscripts.paginator.num_pages }}.
        </span>

        {% if manuscripts.has_next %}
            <a href="?page={{ manuscripts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
	</div>
</article>
{% endblock %}