{% extends "tracking/htmlarcana.html" %} 
{% load url from future %}  
{% block header %} 
  <header class="clearfix">
      <div class="container">
        <a id="logo" href="{% url 'journal:journalhome' %}">Biohelikon</a>
        <ul class="social-icons">
        {% include "journal/journalsocialicons.html" %}
        </ul>
        <nav class="clearfix">
          <ul role="navigation">
            {% include "journal/homecommonlinks.html" %}
            
            
          </ul>
        </nav>
      </div>
  </header>
{% endblock %}